/* General styles */
body {
    background-color: #f5f1ed;
    color: #343a40;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* A more modern font */
}

/* Navigation Bar */
.navbar {
    background-color: #004d40; /* A deeper shade for a more professional appearance */
    border-bottom: 3px solid #00251a; /* A subtle border to enhance the navbar */

}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: #ffffff;
    transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .nav-link:hover {
    color: #adebad; /* A lighter green for hover states */
}
.btn-custom {
    background-color: #4CAF50; /* Green button for actions that match the sustainability theme */
    color: #ffffff; /* White text for better visibility */
    border: none;
}
.btn-custom:hover {
    background-color: #388E3C; /* Darker green on hover for interaction feedback */
}

/* Dropdown menu */
.dropdown-menu {
    background-color: #004d40; /* Background color for the dropdown menu */
}

.dropdown-menu .dropdown-item {
    color: #ffffff; /* Text color for dropdown items */
}

.dropdown-menu .dropdown-item:hover {
    background-color: #00251a; /* Darker background color on hover */
}

.navbar-dark .dropdown-menu .dropdown-item:focus,
.navbar-dark .dropdown-menu .dropdown-item.active {
    background-color: #00251a; /* Darker background color when item is focused or active */
}


/* Side view panel styles */
.side-view-panel {
    height: 100%;
    width: 0; /* Set initial width to 0 */
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #D4EDDA;
    overflow-x: hidden;
    transition: width 0.5s; /* Adjust transition property to only transition width */
    padding-top: 60px;
}

.side-view-panel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #155724;
}

.side-view-panel .user-info {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.side-view-panel .user-email {
    font-size: 16px;
    font-weight: bold;
    color: #004d40;
    margin-bottom: 10px;
}

.side-view-panel .side-panel-link,
.side-view-panel .logout-link,
.side-view-panel .profile-link { /* Add styling for profile link */
    font-size: 14px; /* Decrease font size for better alignment */
    color: #155724; /* Adjust color to fit your theme */
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid transparent; /* Remove border to simplify design */
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    display: block;
    margin: 5px auto; /* Center links horizontally */
    max-width: 150px; /* Limit width to avoid stretching */
}

.side-view-panel .side-panel-link:hover,
.side-view-panel .logout-link:hover,
.side-view-panel .profile-link:hover { /* Add hover effect for profile link */
    background-color: #81C784; /* Change background color on hover */
    color: #fff; /* Change text color on hover */
}

.side-view-panel .side-panel-link:last-child,
.side-view-panel .logout-link:last-child,
.side-view-panel .profile-link:last-child { /* Apply last-child styling */
    margin-bottom: 10px; /* Add some space below the last link */
}


.side-view-panel .logout-link {
    font-size: 14px;
    color: #d9534f; /* A color that suggests an action (e.g., logout) */
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #d9534f;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.side-view-panel .logout-link:hover, .side-view-panel .logout-link:focus {
    background-color: #d9534f;
    color: #ffffff;
}


/* Adjustments to the card container */
.card {
    /* Keep the current styles and add the following */
    font-size: 0.9rem; /* Smaller font size for content */
     border-radius: 15px
}

/* Adjustments to the card image */
.card-img-top {
    height: 100px; /* Smaller height for the image */
    object-fit: cover; /* Ensures the image covers the area */
    border-top-left-radius: 15px; /* Match the top-left radius of the card */
    border-top-right-radius: 15px; /* Match the top-right radius of the card */
}

/* Adjustments to the card body padding and elements inside */
.card-body {
    padding: 10px; /* Reduced padding */
}

.card-title {
    font-size: 1rem; /* Adjust the size as needed */
}

.card-text {
    font-size: 0.8rem; /* Smaller font size for details */
}

/* Adjust the size of buttons if necessary */
.btn {
    padding: .375rem .75rem; /* Adjust padding to make buttons smaller */
    font-size: 0.8rem; /* Match text size of card */
}


/* Default color for the non-favorited heart */
.fa-heart-o {
    color: #d3d3d3; /* Light grey color, you can change it as needed */
}

/* Color for the favorited heart */
.fa-heart {
    color: #ff0000; /* Red color for the filled heart */
}




.fa-heart-o {
    color: #d9534f; /* Heart color */
    font-size: 24px; /* Adjust size as needed */
}



.checked {
    color: orange;
}



.badge-warning {
    font-size: 14px; /* Adjust size as needed */
}

.search-container {
    position: relative;
    /* Other styling here */
}
/* Search Bar Container */
.search-bar {
    display: flex; /* Use flexbox for alignment */
    gap: 10px; /* Adds space between search input and button */
    padding: 1rem;
    align-items: center; /* Centers the items vertically */
    width: 100%; /* Full width of its parent container */
}

/* Search Input Field */
.search-bar input[type="search"] {
    flex-grow: 1; /* Allows the input to grow and fill the space */
    padding: 0.5rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 1rem; /* Standard font size */
    line-height: 1.5; /* Comfortable line height for readability */
}
/* Suggestions List Container */
/* Suggestions List Container */
#suggestions {
    position: absolute;
    top: 100%; /* Positioned directly below the search input */
    left: 1rem; /* Aligns with the padding of the search-bar */
    right: 1rem; /* Aligns with the padding of the search-bar */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    z-index: 1050; /* Ensure it's above other fixed elements like a navbar */
    max-height: 300px;
    overflow-y: auto; /* Allows scrolling within the dropdown */
}
/* Suggestion Item */
.suggestion-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}


.suggestion-item:hover {
    background-color: #f8f8f8; /* A light grey background for the hovered item */
}

.suggestion-item:last-child {
    border-bottom: none; /* Removes the border from the last item to prevent a double border */
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 768px) {
    .search-bar, .btn-map-view {
        width: 100%;
        margin-bottom: 10px; /* Adds spacing for smaller devices */
    }
    .btn-map-view {
        height: auto; /* Resets the height for small devices */
    }

    .search-bar input[type="text"] {
        margin-left: 0.25rem;
        padding: 0.25rem;
    }

    #suggestions .suggestion-item {
        padding: 0.5rem 0.75rem;
    }
}

/* Search Bar and Map Button Layout */
.search-bar form {
    width: 100%;
}

/* View Map Button */
.btn-map-view {
    white-space: nowrap; /* Prevents the button text from wrapping */
    padding: 0.5rem 1rem;
    margin-top: 15px; /* Add margin to the top */
}

.listing-container {
    max-height: 600px;  /* Adjust this height based on your layout needs */
    overflow-y: auto;   /* Enables vertical scrolling */
}

.content-area {
    max-height: 800px; /* This is the maximum height the container will have */
    overflow-y: auto; /* This will add a scrollbar to the container when content overflows */
}

.listing-item {
    display: flex; /* This ensures that the items flex within the container */
    flex-direction: column; /* Aligns the item's content vertically */
    justify-content: space-between; /* Distributes space above and below the content */
    min-height: 200px; /* This ensures all items have at least this height */
    /* Add other styles for .listing-item here */
}

.row {
    margin-left: -15px;
    margin-right: -15px; /* Adjusts for the row's negative margins if necessary */
}
