/* register.css */
body {
  background-color: #E8F5E9; /* Light green background for a fresh, sustainable look */
}

/* Other custom styles for the registration form */
.container {
  padding-top: 50px;
}

/* You can add more styling for form elements here */
.form-group label {
  color: #333; /* Dark grey color for form labels */
}

.btn-custom {
  background-color: #4CAF50; /* Green button to match the theme */
  color: #ffffff;
}

.btn-custom:hover {
  background-color: #388E3C; /* Darker green for hover */
}

/* Navigation Bar */
.navbar {
    background-color: #004d40; /* A deeper shade for a more professional appearance */
    border-bottom: 3px solid #00251a; /* A subtle border to enhance the navbar */

}

.navbar-dark .navbar-brand,
.navbar-dark .nav-link {
    color: #ffffff;
    transition: color 0.3s ease; /* Smooth transition for hover effects */
}

.navbar-dark .navbar-brand:hover,
.navbar-dark .nav-link:hover {
    color: #adebad; /* A lighter green for hover states */
}
.btn-custom {
    background-color: #4CAF50; /* Green button for actions that match the sustainability theme */
    color: #ffffff; /* White text for better visibility */
    border: none;
}
.btn-custom:hover {
    background-color: #388E3C; /* Darker green on hover for interaction feedback */
}